@{
    ViewBag.Title = "_AboutMe";
}

<section id="AboutScreenWrapper" class="">
    <div id="AboutScreen" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 data-scrollreveal="enter from the top after 0.5s">
                    <span>About</span> me
                </h2>
                <div class="aboutme-welcome-note">
                    <h3 data-scrollreveal="enter from the top after 1.0s">
                        Hi, I am Ahmed
                        <br>Software Engineer and HTML5, CSS3 jQuery Developer.
                    </h3>
                    <ul class="biju-profile-pic-grid" data-scrollreveal="enter from the top after 1.5s">
                        <li>
                            <div class="biju-profile-pic-item">
                                <div class="biju-profile-pic-info">
                                    <h3>Connect with</h3>
                                    <p>
                                        linkedin profile
                                        <a href="https://www.linkedin.com/in/ahmedoumezzine/" target="blank">
                                            <span>&nbsp;</span>
                                        </a>
                                    </p>
                                </div>
                                <div class="biju-profile-pic-thumb biju-profile-pic-img-1"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="aboutme-contents" data-scrollreveal="enter from the left after 2.0s">
                    <ul class="list">
                        <li>
                            <strong>4+ years</strong> of professional experience as <strong>UI/UX Designer and HTML5, CSS3 and jQuery Developer</strong>
                        </li>
                        <li>
                            Extensive knowledge of current web standards,
                            <strong>HTML5 and CSS3, Jquery</strong> along with developing front end with Cross browser compatibility.
                            <br>Having strong experience in responsive website design for Mobiles, Tablets and Desktops using CSS media queries.
                            <br>Advanced knowledge in
                            <strong>Twitter bootstrap responsive frame work</strong>
                        </li>
                        <li>
                            Working experience of <strong>GUI design for web and mobile applications</strong>
                        </li>
                        <li>
                            Proficient with Visual Studio , PhpStorm , After effect, Photoshop, Illustrator.
                        </li>
                        <li>
                            Basic knowledge in WordPress, other CMS, Good experience in working independently as well as part of a team.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row download-resume-cta-row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-scrollreveal="enter from the left after 2.5s">
                <img src="~/Content\images\ilike-icons.png" height="23" width="201" alt="Fun">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-scrollreveal="enter from the right after 3.0s">
                <div class="download-resume-cta-wrapper">
                    <a class="download-resume-cta" href="#ContactmeWrapper h2">Download Resume</a>
                </div>
            </div>
        </div>
    </div>
    <a class="button" href="#MySkilsScreen"></a>
    <div class="page-bottom-design">&nbsp;</div>
</section>