
@{
    ViewBag.Title = "_Footer";
}

<div id="Footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-scrollreveal="enter from the left after 1.0s">
                <h2>About Me</h2>
                <h3>About site informations</h3>
                <ul id="FooterAboutLinks">
                    <li><a href="#Header">Home</a></li>
                    <li><a href="#AboutScreen">About me</a></li>
                    <li><a href="#MySkilsScreen">My Skills</a></li>
                    <li><a href="#MyWorksScreen">My Work</a></li>
                    <li><a href="http://ahmedoumezzine.blogspot.com/" target="_blank">Blog</a></li>
                    <li><a href="#ContactmeScreen">Contact me</a></li>
                </ul>
                <p>Copy right&copy; </p>
            </div>
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3" data-scrollreveal="enter from the left after 1.5s">
                <h2>Usefull Links</h2>
                <h3>CSS Awards Sites</h3>
                <ul>
                    <li><a href="http://www.awwwards.com/" target="_blank">www.awwwards.com</a></li>
                    <li><a href="http://www.cssmania.com/" target="_blank">www.cssmania.com</a></li>
                    <li><a href="http://www.cssdesignawards.com/" target="_blank">www.cssdesignawards.com</a></li>
                    <li><a href="http://www.csswinner.com" target="_blank">www.csswinner.com</a></li>
                    <li><a href="http://cssreel.com/" target="_blank">www.cssreel.com</a></li>
                    <li><a href="http://bestwebgallery.com" target="_blank">www.bestwebgallery.com</a></li>
                    <li><a href="http://csselite.com/" target="_blank">www.csselite.com</a></li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3" data-scrollreveal="enter from the left after 2.0s">
                <h2>&nbsp;</h2>
                <h3>Web Design Tutorials</h3>
                <ul>
                    <li><a href="http://www.w3schools.com/" target="_blank">www.w3schools.com</a></li>
                    <li><a href="http://teamtreehouse.com/" target="_blank">www.teamtreehouse.com</a></li>
                    <li><a href="http://code.tutsplus.com/" target="_blank">www.code.tutsplus.com</a></li>
                    <li><a href="http://www.codecademy.com/" target="_blank">www.codecademy.com</a></li>
                    <li><a href="http://www.smashingmagazine.com" target="_blank">www.smashingmagazine.com</a></li>
                    <li><a href="http://tutorialzine.com" target="_blank">www.tutorialzine.com</a></li>
                    <li><a href="http://www.tutorialspoint.com" target="_blank">www.tutorialspoint.com</a></li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3" data-scrollreveal="enter from the left after 2.5s">
                <h2>&nbsp;</h2>
                <h3>Best Stock Photo Sites</h3>
                <ul>
                    <li><a href="http://us.fotolia.com/" target="_blank">www.fotolia.com</a></li>
                    <li><a href="http://www.dreamstime.com" target="_blank">www.dreamstime.com</a></li>
                    <li><a href="http://www.istockphoto.com/" target="_blank">www.istockphoto.com</a></li>
                    <li><a href="http://www.123rf.com/" target="_blank">www.123rf.com</a></li>
                    <li><a href="http://www.shutterstock.com/" target="_blank">www.shutterstock.com</a></li>
                    <li><a href="http://www.gettyimages.in/" target="_blank">www.gettyimages.com</a></li>
                    <li><a href="http://www.fotosearch.com/" target="_blank">www.fotosearch.com</a></li>
                    <li><a href="http://www.freedigitalphotos.net/" target="_blank">www.freedigitalphotos.net</a></li>
                </ul>
            </div>
        </div>
        <a data-scrollreveal="enter from the left after 1.5s" href="https://twitter.com/AOumezzine" target="_blank" class="contact-twitter"></a>
        <div data-scrollreveal="enter from the right after 2.5s" class="contact-me-img layer">&nbsp;</div>
    </div>
</div>
