@{
    ViewBag.Title = "_Header";
}

<section id="Header" class="full-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-6 col-lg-5 col-lg-offset-1">
                <div class="biju-designer-dec">
                    <p data-scrollreveal="enter from the top after 1.0s"><span>Hello</span></p>
                    <h1 data-scrollreveal="enter from the top after 1.5s">
                        My name is Ahmed Oumezzine. I am a <strong>software engineer </strong>, <br> <strong> Web developer </strong> and designer based in Monastir , Tunisia.<br>
                        I am passionate about creating new ideas and to be unique.
                    </h1>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 biju-designer-home" data-scrollreveal="enter from the top after 2.5s">

                <div id="fc-slideshow" class="fc-slideshow">
                    <ul class="fc-slides">
                        <li>
                            <a href="#AboutScreen">
                                <img src="~/Content\images\melogo.jpeg" alt="Iphone Apps Designin" title="Logo Designing">
                                <h3>About me</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#AboutScreen">
                                <img src="Content\images\melogo1.jpeg" alt="Iphone Apps Designin" title="Logo Designing">
                                <h3>About me</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a class="button" href="#AboutScreen"></a>
    <div id="butterflycontainer"></div>
    <div class="page-bottom-design">&nbsp;</div>
</section>