@{
    ViewBag.Title = "_MyCertification";
}

<div id="MySkilsWrapper" class="">
    <div class="container-fluid">
        <div class="row skils-welcome-row">
            <div id="MySkilsScreen" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 data-scrollreveal="enter from the top after 0.5s">
                    <span>My</span> Certifs
                </h2>
                <h3 class="" data-scrollreveal="enter from the right after 1.0s">
                    Extensive knowledge of current web standards,
                    <br>HTML5 and CSS3, Jquery along with developing front end with <strong>Responsive Coding and Cross Browser Compatibility</strong>.
                </h3>
            </div>
        </div>
    </div>
    <div id="MyWorksScreen" class="container">
        <div class="row">
            <div class="col-xs-2" data-scrollreveal="enter from the left after 1.5s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <div class="portfolioContainer isotope" style="position: relative; overflow: hidden; height: 239px;">
                                <div class="filter-item iPhone-apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 10px, 0px);">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                        <img src="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" alt="UI design" title="UI design">
                                        <div class="overly-des">Microsoft® Certified Trainer</div>
                                        <div class="works-zoom"></div>
                                        <span class="works-zoom-icon">
                                            <span class="icon-eye"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" data-scrollreveal="enter from the left after 1.5s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <div class="portfolioContainer isotope" style="position: relative; overflow: hidden; height: 239px;">
                                <div class="filter-item iPhone-apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 10px, 0px);">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                        <img src="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" alt="UI design" title="UI design">
                                        <div class="overly-des">Microsoft Certified Solutions Associate: Web Applications</div>
                                        <div class="works-zoom"></div>
                                        <span class="works-zoom-icon">
                                            <span class="icon-eye"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" data-scrollreveal="enter from the left after 1.5s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <div class="portfolioContainer isotope" style="position: relative; overflow: hidden; height: 239px;">
                                <div class="filter-item iPhone-apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 10px, 0px);">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                        <img src="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" alt="UI design" title="UI design">
                                        <div class="overly-des">Microsoft® Specialist: ASP</div>
                                        <div class="works-zoom"></div>
                                        <span class="works-zoom-icon">
                                            <span class="icon-eye"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" data-scrollreveal="enter from the left after 1.5s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <div class="portfolioContainer isotope" style="position: relative; overflow: hidden; height: 239px;">
                                <div class="filter-item iPhone-apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 10px, 0px);">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                        <img src="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" alt="UI design" title="UI design">
                                        <div class="overly-des">Microsoft® Specialist: Programming in HTML5 with JavaScript and CSS3</div>
                                        <div class="works-zoom"></div>
                                        <span class="works-zoom-icon">
                                            <span class="icon-eye"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" data-scrollreveal="enter from the left after 1.5s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <div class="portfolioContainer isotope" style="position: relative; overflow: hidden; height: 239px;">
                                <div class="filter-item iPhone-apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 10px, 0px);">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                        <img src="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" alt="UI design" title="UI design">
                                        <div class="overly-des">Microsoft® Specialist: Programming in C#</div>
                                        <div class="works-zoom"></div>
                                        <span class="works-zoom-icon">
                                            <span class="icon-eye"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" data-scrollreveal="enter from the left after 1.5s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <div class="portfolioContainer isotope" style="position: relative; overflow: hidden; height: 239px;">
                                <div class="filter-item iPhone-apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 10px, 0px);">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                        <img src="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" alt="UI design" title="UI design">
                                        <div class="overly-des">Microsoft Certified Solutions Associate: Office 365 (MCSA)</div>
                                        <div class="works-zoom"></div>
                                        <span class="works-zoom-icon">
                                            <span class="icon-eye"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" data-scrollreveal="enter from the left after 1.5s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <div class="portfolioContainer isotope" style="position: relative; overflow: hidden; height: 239px;">
                                <div class="filter-item iPhone-apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 10px, 0px);">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                        <img src="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" alt="UI design" title="UI design">
                                        <div class="overly-des">office 365 1</div>
                                        <div class="works-zoom"></div>
                                        <span class="works-zoom-icon">
                                            <span class="icon-eye"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" data-scrollreveal="enter from the left after 1.5s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <div class="portfolioContainer isotope" style="position: relative; overflow: hidden; height: 239px;">
                                <div class="filter-item iPhone-apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 10px, 0px);">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                        <img src="http://www.mycertprofile.com/assets/mcp-catalog/mct-anniv-5-cert-template.jpg" alt="UI design" title="UI design">
                                        <div class="overly-des">office 365 2</div>
                                        <div class="works-zoom"></div>
                                        <span class="works-zoom-icon">
                                            <span class="icon-eye"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="button" href="#MyWorksScreen"></a>
    <div class="page-bottom-design">&nbsp;</div>
</div>