@{
    ViewBag.Title = "_MyWorks";
}

<section id="MyWorksScreenWrapper" class="container-fluid">
    <div class="container-fluid">
        <div class="row my-works-welcome-row">
            <div id="MyWorksScreenBox" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 data-scrollreveal="enter from the top after 0.5s">
                    <span>My</span> Work
                </h2>
                <h3 class="" data-scrollreveal="enter from the right after 1.0s">
                    <p>
                        I have worked on almost 300+ web design projects and <br>
                        worked on GUI designs for Iphone, Android, logo designs, flash animations etc.. </br>
                    </p>
                </h3>
                <div class="filter portfolioFilter" data-scrollreveal="enter from the right after 1.5s">
                    <a href="#" data-filter="*">All</a>
                    <a href="#" data-filter=".web-design-tab" class="current">Web Design</a>
                    <a href="#" data-filter=".iPhone-apps">iPhone Apps</a>
                    <a href="#" data-filter=".logo-design">logo-design</a>
                    <a href="#" data-filter=".others">Others</a>
                </div>
            </div>
        </div>
    </div>
    <div id="MyWorksScreen" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div>
                    <div class="portfolioContainer">
                        <div class="filter-item iPhone-apps">
                            <a class="fancybox-buttons" data-fancybox-group="button" href="images\projects\iphone-apps\big\01.jpg" title="My Role : UI/UX Application Design, Icons Creation, Graphics Cutting">
                                <img src="~\Content\images\projects\iphone-apps\01.jpg" alt="UI design" title="UI design">
                                <div class="overly-des">To Know more about the project click the icons</div>
                                <div class="works-zoom"></div>
                                <span class="works-zoom-icon">
                                    <span class="icon-eye"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="button" href="#ContactmeScreen"></a>
    <div class="page-bottom-design">&nbsp;</div>
    <div class="clear"></div>
</section>